<h1>Listing tasklist_demos</h1>

<%= link_to 'New tasklist_demo', new_tasklist_demo_path %> |
<% if session[:filter] == "Active" 
     filter = "Closed"
   else
     filter = "Active"
   end %>
<%= link_to filter, {:controller => "tasklist_demos", :action => "index", :params => {:filter => filter}} %>
<br/><br/>
<table>
  <tr style="">
    <th width=5>#</th>
    <th width=30>Registered</th>
    <th width=30>Deadline</th>
    <th width=350>Description</th>
    <th width=30>ETA</th>
    <th>Assign</th>
    <th width=150>Status Text</th>
    <th>Status</th>
  </tr>

<% @tasklist_demos.each do |tasklist_demo| %>
  <% urgent = ((tasklist_demo.deadline < DateTime.now && tasklist_demo.status != "Closed") ? "urgent" : nil) if tasklist_demo.deadline? %>
  <tr class="<%=h tasklist_demo.status == "Closed" ? tasklist_demo.status : tasklist_demo.assignee -%>">
    <td><%= h tasklist_demo.id %></td>
    <td><%=h tasklist_demo.registered.strftime("%Y/%m/%d %H:%M") if tasklist_demo.registered? %></td>
    <td<%= " class='" + urgent +"'" if urgent != nil -%>><%=h tasklist_demo.deadline.strftime("%Y/%m/%d") if tasklist_demo.deadline? %></td>
    <td><%=hbr tasklist_demo.description%></td>
    <td><%=h tasklist_demo.time_required %> <%=h "hour(s)" if tasklist_demo.time_required %> </td>
    <td><%=h tasklist_demo.assignee %></td>
    <td><%=hbr tasklist_demo.statustext %></td>
    <td><%=h tasklist_demo.status %></td>
    <td><%= link_to "View", tasklist_demo %></td>
    <td><%= link_to 'Edit', edit_tasklist_demo_path(tasklist_demo) %></td>
    <% if session[:filter] == "Active" %>
      <td><%= link_to 'Close', {:controller => "tasklist_demos", :action => "close", :id => tasklist_demo.id} %></td>
    <% elsif session[:filter] == "Closed" %>
      <td><%= link_to 'Open', {:controller => "tasklist_demos", :action => "reopen", :id => tasklist_demo.id} %></td>
    <% end %>
    <td><%= link_to 'Remove', tasklist_demo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tasklist_demo', new_tasklist_demo_path %> |
<%= link_to filter, {:controller => "tasklist_demos", :action => "index", :params => {:filter => filter}} %>
