<table>
  <tr>
    <td>Registered:</td>
    <td><%=h @tasklist_demo.registered.strftime("%Y/%m/%d %H:%M:%S") %></td>
  </tr>
  <tr>
    <td>Deadline:</td>
    <td><%=h @tasklist_demo.deadline.strftime("%Y/%m/%d") if @tasklist_demo.deadline != nil %></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><%=hbr @tasklist_demo.descriptiontext %></td>
  </tr>
  <tr>
    <td>所要時間</td>
    <td><%=h @tasklist_demo.time_required %> (hour)</td>
  </tr>
  <tr>
    <td>Assignee:</td>
    <td><%=h @tasklist_demo.assignee %></td>
  </tr>
  <tr>
    <td>StatusText:</td>
    <td><%=hbr @tasklist_demo.statustext %></td>
  </tr>
  <tr>
    <td>Status:</td>
    <td><%=h @tasklist_demo.status %></td>
  </tr>
  <tr>
    <td>最終更新者</td>
    <td><%=h @tasklist_demo.clientIP %></td>
  </tr>
</table>
<br/>
<%= link_to 'Edit', edit_tasklist_demo_path(@tasklist_demo) %> |
<%= link_to 'Back', tasklist_demos_path %> |
<%= link_to 'New tasklist_demo', new_tasklist_demo_path %>
