<table class="<%=h @tasklist_demo.status == "Closed" ? @tasklist_demo.status : @tasklist_demo.assignee -%>">
  <tr>
    <td>Registered:</td>
    <td><%=h @tasklist_demo.registered.strftime("%Y/%m/%d %H:%M:%S") %></td>
  </tr>
  <tr>
    <td>Deadline:</td>
    <td><%=h @tasklist_demo.deadline.strftime("%Y/%m/%d") if @tasklist_demo.deadline != nil %></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><%=hbr @tasklist_demo.description %></td>
  </tr>
  <tr>
    <td>所要時間</td>
    <td><%=h @tasklist_demo.time_required %> (hour)</td>
  </tr>
  <tr>
    <td>Assignee:</td>
    <td><%=h @tasklist_demo.assignee %></td>
  </tr>
  <tr>
    <td>StatusText:</td>
    <td><%=hbr @tasklist_demo.statustext %></td>
  </tr>
  <tr>
    <td>Status:</td>
    <td><%=h @tasklist_demo.status %></td>
  </tr>
  <tr>
    <td>最終更新者</td>
    <% if @tasklist_demo.updated_by? %>
      <td><%=h @tasklist_demo.updated_by %></td>
    <% else %>
      <td><%=h @tasklist_demo.created_by %></td>
    <% end %>
  </tr>
</table>
<br/>
<%= link_to 'Edit', edit_tasklist_demo_path(@tasklist_demo) %> |
<%= link_to 'List', tasklist_demos_path %> <br/> 
<% if @tasklist_demo.status != "Closed" %>
  <%= link_to 'Close', {:controller => "tasklist_demos", :action => "close", :id => @tasklist_demo.id} %> |
  <%= link_to 'Submit Template', {:controller => "tasklist_demos", :action => "done_submit_template", :id => @tasklist_demo.id} %> |
  <%= link_to 'Checked Test Env', {:controller => "tasklist_demos", :action => "done_check_on_test", :id => @tasklist_demo.id} %> |
  <%= link_to 'Checked Prod Env', {:controller => "tasklist_demos", :action => "done_check_on_prod", :id => @tasklist_demo.id} %> |
  <%= link_to 'Complete Broker Test', {:controller => "tasklist_demos", :action => "done_broker_test", :id => @tasklist_demo.id} %> <br/>

<% elsif @tasklist_demo.status == "Closed" %>
  <%= link_to 'Reopen', {:controller => "tasklist_demos", :action => "reopen", :id => @tasklist_demo.id} %><br/>
<% end %>
<%= link_to 'New tasklist_demo', new_tasklist_demo_path %>

