<h1>Update <%= @user.login -%> </h1>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for(@user) do |f| %>
<!--% form_for :user, :url => users_path do |f| -%-->
<p><%= label_tag 'login' %><br/>
<%= f.text_field :login %></p>

<p><%= label_tag 'email' %><br/>
<%= f.text_field :email %></p>

<p><%= label_tag 'name' %><br/>
<%= f.text_field :name %></p>

<p><%= label_tag 'initials' %><br/>
<%= f.text_field :initials %></p>

<p><%= label_tag 'japanese_name' %><br/>
<%= f.text_field :japanese_name %></p>

<p><%= label_tag 'Default IP' %><br/>
<%= f.text_field :client_ip %></p>

<p><%= label_tag 'password' %><br/>
<%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag 'Update' %></p>
<%= link_to 'User List', :controller => "users" %> |
<%= link_to 'New User', new_user_path %><br/><br/>
<%= link_to 'Task List', :controller => "tasklist_demos" %>
<% end -%>
