<h1>Update <%= @user.login -%> info</h1>
<% @user.password = @user.password_confirmation = nil %>
<%= error_messages_for :user %>

<table>
  <tr>
    <td><%= label_tag 'login' %></td>
    <td><%= @user.login %></td>
  </tr>

  <tr>
    <td><%= label_tag 'email' %></td>
    <td><%= @user.email %></td>
  </tr>

  <tr>
    <td><%= label_tag 'name' %></td>
    <td><%= @user.name %></td>
  </tr>

  <tr>
    <td><%= label_tag 'japanese_name' %></td>
    <td><%= @user.japanese_name %></td>
  </tr>

  <tr>
    <td><%= label_tag 'client_ip' %></td>
    <td><%= @user.client_ip %></td>
  </tr>
</table>

<br/>
<%= link_to 'User List', :controller => "users" %> |
<%= link_to 'New User', new_user_path %><br/><br/>
<%= link_to 'Task List', :controller => "tasklist_demos" %>
